@import url(https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap);@import url(https://fonts.googleapis.com/css?family=Bebas+Neue|&display=swap);@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);@charset "UTF-8";

::-webkit-scrollbar {
  width: 0 !important;
}

body,
html {
  background-color: black;
  font-family: 'Lexend Deca';
  color: white;
  max-width: 100vw;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  text-align: center;
  transition: 1s all;
  zoom: 100%;
}

.recht {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 30vw;
  padding-bottom: 30vw;
}

.header {
  height: 180vh;
  width: 100%;
  transition: 1s all;
}

.header nav {
  top: -15vh;
}

.hello {
  color: red;
  font-family: 'Bebas Neue';
  font-weight: 200;
  font-size: 1rem;
}

.light {
  background: #e6e6e6;
  color: #161616;
}

section {
  height: 70vh;
  transition: 1s ease-in-out;
}

h2 {
  transition: 1s ease-in-out;
}

p {
  transition: 1s ease-in-out;
}

a span {
  font-family: 'Lexend Deca';
  transition: 1s ease-in-out;
}

a {
  color: white;
}

.white {
  background-color: black;
  color: white;
  transition: 1s ease-in-out;
}

.white nav a {
  color: black;
}

nav a {
  transition: 1s ease-in-out;
}

.bluelotus {
  background-color: black;
  transition: 1s ease-in-out;
}

.bluelotus a {
  color: #034087;
}

.bluelotus p {
  color: #FFC51A;
}

.bluelotus nav a {
  color: #034087;
}

.germade {
  background-color: #000;
  transition: 1s ease-in-out;
}

.germade a {
  color: #fff;
}

.germade p {
  color: #690000;
}

.germade nav a {
  color: #690000;
}

.grandcoup {
  background-color: #000;
  transition: 1s ease-in-out;
}

.grandcoup a {
  color: #FFB949;
}

.grandcoup p {
  color: #FFB949;
}

.grandcoup nav a {
  color: #000;
}

.avesta {
  background-color: white;
  transition: 1s ease-in-out;
}

.avesta a {
  color: #000;
}

.avesta p {
  color: #8F505A;
}

.avesta nav a {
  color: #8F505A;
}

.romotech {
  background-color: #000;
  transition: 1s ease-in-out;
}

.romotech a {
  color: white;
}

.romotech p {
  color: #E0C886;
}

.romotech nav a {
  color: #000;
}

.sonan {
  background-color: #161616;
  transition: 1s ease-in-out;
}

.sonan h1 {
  margin-top: 20vh;
  color: white;
}

.sonan h2,
.sonan h3 {
  color: #c6c6c6;
}

.sonan a {
  color: white;
}

.sonan p {
  color: white;
}

.sonan nav a {
  color: #161616;
}

.mms {
  background-color: #fff;
  transition: 1s ease-in-out;
}

.mms a {
  color: black;
}

.mms p {
  color: black;
}

.mms nav a {
  color: black;
}

.cc {
  background-color: white;
  transition: 1s ease-in-out;
}

.cc a {
  color: #3E4095;
}

.cc p {
  color: #F3b273;
}

.cc nav {
  transition: 1s ease-in-out;
}

.cc nav a {
  color: #3E4095;
}

.winterengel {
  background-color: white;
  transition: 1s ease-in-out;
}

.winterengel a {
  color: #F0B500;
}

.winterengel p {
  color: black;
}

.winterengel nav {
  transition: 1s ease-in-out;
}

.winterengel nav a {
  color: black;
}

a:hover {
  text-decoration: line-through;
}

.article {
  font-size: 0.7rem;
  height: auto;
  text-align: left;
}

.article ul {
  color: white;
}

.black {
  background-color: white;
  transition: 1s ease-in-out;
}

.black a {
  color: black;
}

.black p {
  color: black;
}

.black nav {
  top: -15vh;
}

.gray {
  background: #161616;
  color: #e6e6e6;
}

ul {
  padding-right: 1vw;
  list-style-type: none;
}

.show {
  color: white;
  font-family: 'Playfair Display';
  transition: 1s ease-in-out;
}

.show1 {
  color: white;
  display: none;
  transition: 1s ease-in-out;
  font-family: 'Playfair Display';
}

.sticky {
  padding: 5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 20vh;
  transition: 1s all;
}

.links {
  float: right;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
}

.links:hover {
  text-decoration: line-through;
  transition: 1s;
}

a {
  list-style-type: none;
  text-decoration: none;
}

nav {
  top: 0;
  left: 0;
  height: 15vh;
  position: fixed;
  background: white;
  color: black;
  width: 100vw;
  z-index: 10;
  transition: 1s ease-in-out;
}

.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
}

.align-center {
  display: flex;
  align-items: center;
  background: white;
}

.logo {
  height: 15vh;
  width: 15vh;
  position: absolute;
}

.bglogo {
  height: 250vh;
  width: 250vh;
  position: fixed;
  opacity: 0.2;
}

.center {
  text-align: center;
}

.footer {
  height: 60vh;
}

.small {
  font-size: 1rem;
}

article p {
  margin: 0.1em;
}

@media (min-width: 768px) {
  .recht {
    padding: 20vw;
  }

  .recht  a {
    text-decoration: underline;
  }

  .header {
    transition: all 1s ease-in-out;
  }

  .header .hello {
    background: none;
  }

  article {
    display: block;
  }

  section {
    height: 70vh;
  }

  .hello {
    font-size: 4rem;
  }

  .footer {
    font-family: 'Playfair Display';
    font-size: 3rem;
    color: black;
    height: 80vh;
  }

  .footer .footerlogo {
    height: 20vh;
    width: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer .bye {
    font-size: 3rem;
  }

  .footer .bye a {
    color: black;
    font-family: 'Playfair Display';
    transition: 1s;
  }
}

